<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="novosti.rossii">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.main.App"
        android:allowBackup="true"
        android:description="@string/app_name_des"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Youtube_novosti_rossiii" />
        <activity
            android:name=".Brouser_novosti_rossii"
            android:label="@string/app_name"
            android:parentActivityName=".Novosti_rossii">
            <tools:validation testUrl="https://diseno-web-cantabria.web.app" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="diseno-web-cantabria.web.app"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Grani_novosti_rossii"
            android:label="@string/grani_novosti_rossii"
            android:parentActivityName=".Novosti_rossii" />
        <activity
            android:name=".Novosti_rossii"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1208057699352262~3240921339"/>
    </application>

</manifest>